*.dll
*.transform
*.exe
*.config
*.pdb
*.cache
*.csproj
ServerTest/Properties/AssemblyInfo.cs
ServerTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.manifest
*.sln
*.nupkg
packages/MySql.Data.6.9.9/CHANGES
packages/MySql.Data.6.9.9/Readme.txt
ServerTest/obj/Debug/ServerTest.csproj.FileListAbsolute.txt
ServerTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ServerTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.suo
*.suo
.vs/ServerTest/v14/.suo
*.suo